.card {
    max-width: 370px;
    background: linear-gradient(153.61deg, #E40913 -192.17%, #170F48 80.89%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    color: white;
    padding: 2.75rem min(10%, 1.5rem) 4.75rem min(10%, 1.5rem);
    border: none;
    margin-top: -0;

    &__img {
        height: 100px;
        width: auto;
    }
}