.root {

    // padding: 0 2rem;
    color: #fff;
    height: 100vh; //Might have to remove it
    background-image: linear-gradient(103.24deg, rgba(0, 8, 29, 0.785) 23.83%, rgba(0, 8, 29, 0.3) 96.1%),
        linear-gradient(360deg, #000, rgba(0, 8, 29, 0.397) 6.83%, transparent 96.1%),
        url(https://assets.nflxext.com/ffe/siteui/vlv3/efb4855d-e702-43e5-9997-bba0154152e0/5e2801e9-d76f-4e77-a8ea-7dba0d187459/NG-en-20230417-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1000px;
    // margin: 0 auto;


    &__header {
        display: flex;
        flex-direction: column;
        padding: 8.5rem 5.5rem 0;

        &-primary {
            font-size: 64px;
            font-weight: 900;
            max-width: 1100px;
            margin: 0;
        }

        &-secondary {
            font-size: 24px;
            font-weight: 500;
            max-width: 1100px;
            margin: 1rem 0 0;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            margin: 0;
            max-width: 1100px;
            padding: 2rem 0 0;
        }
    }

    &__form {
        display: flex;
        padding: 1rem 0 0;

        input {
            padding: 1rem;
            background: transparent;
            border-radius: 4px;
            outline: none;
            border: 1px solid rgba(192, 192, 192, 0.76);
            transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1) 0s;
            color: transparent;
            line-height: 1.5rem;
            min-width: 380px;


            &::placeholder {
                color: #e5e5e5;
            }
        }
    }

    &__btn {
        display: flex;
        flex-direction: row-reverse;
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 0 8px;
        padding: 0 2rem;
    }

    &__forwardImg {
        max-width: 15px;
        height: auto;
    }
}

.card__container {
    display: flex;
    flex-direction: row;
    margin-top: 17rem;
    gap: .5rem;
    padding: 0 4rem;
}